/* Removes scrollbar */
body::-webkit-scrollbar {
  display: none !important;
}

/* Removes header filters (except for those on channel pages) */
#primary > ytd-rich-grid-renderer > #header:has(ytd-feed-filter-chip-bar-renderer[component-style="FEED_FILTER_CHIP_BAR_STYLE_TYPE_DEFAULT"]) {
  display: none !important;
}

/* Removes rich sections (e.g. Shorts) */
ytd-rich-section-renderer {
  display: none !important;
}
ytd-reel-shelf-renderer {
  display: none !important;
}


/* Removes Shorts, Originals, YouTube Music, Your clips, Your videos buttons from sidebar */
#items > ytd-guide-entry-renderer:has(a[title="Shorts"]),
#items > ytd-guide-entry-renderer:has(a[title="Originals"]),
#items > ytd-guide-entry-renderer:has(a[title="YouTube Music"]),
#items > ytd-mini-guide-entry-renderer:has(a[title="Shorts"]),
#items > ytd-mini-guide-entry-renderer:has(a[title="Originals"]),
#items > ytd-mini-guide-entry-renderer:has(a[title="YouTube Music"]),
#section-items > ytd-guide-entry-renderer:has(a[title="Your clips"]),
#section-items > ytd-guide-entry-renderer:has(a[title="Your videos"]) {
  display: none !important;
}

/* Removes Subscriptions, More from YouTube sections from sidebar */
#sections > ytd-guide-section-renderer:nth-child(2),
#sections > ytd-guide-section-renderer:nth-child(4) {
  display: none !important;
}

/* Removes voice search, create button */
#voice-search-button,
#buttons > ytd-topbar-menu-button-renderer:nth-child(1) {
  display: none !important;
}

/* Removes additional metadata */
#below > ytd-watch-metadata > ytd-metadata-row-container-renderer {
  display: none !important;
}

/* Removes suggested section filters */
#items > yt-related-chip-cloud-renderer {
  display: none !important;
}

/* Removes text from detail section buttons */
#top-level-buttons-computed > ytd-button-renderer > yt-button-shape > button > div.cbox.yt-spec-button-shape-next__button-text-content,
#flexible-item-buttons .yt-spec-button-shape-next__button-text-content {
  display: none !important;
}
#top-level-buttons-computed > ytd-button-renderer > yt-button-shape > button > div.yt-spec-button-shape-next__icon,
#flexible-item-buttons ytd-button-renderer > yt-button-shape > button > div.yt-spec-button-shape-next__icon {
  margin-right: -6px !important;
}

/* Removes clip, super thanks button from detail section */
#flexible-item-buttons > ytd-button-renderer:has(button[aria-label="Clip"]),
#flexible-item-buttons > ytd-button-renderer:has(button[aria-label="Thanks"]) {
  display: none !important;
}

/* Sets theater mode to always be 16:9 (max-height persists by default) */
#movie_player > div.html5-video-container {
  width: 100% !important;
  height: 100% !important;
}
#player-theater-container {
  /* max-height: unset !important; */
  min-height: unset !important;
}

/* Removes annotation */
#movie_player > div.ytp-player-content.ytp-iv-player-content > div.annotation.annotation-type-custom.iv-branding {
  display: none !important;
}

/* Replaces miniplayer button with picture-in-picture */
#movie_player > div.ytp-chrome-bottom > div.ytp-chrome-controls > div.ytp-right-controls > button.ytp-miniplayer-button.ytp-button {
  display: none !important;
}
#movie_player > div.ytp-chrome-bottom > div.ytp-chrome-controls > div.ytp-right-controls > button.ytp-pip-button.ytp-button {
  display: inline-block !important;
}