/* Websites: app.crowdmark.com/student/assessments/ */

@media screen and (min-width: 900px) {
  .main-sidebar {
    display: none !important;
  }

  .main-wrapper {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }

  .main-topbar {
    margin-left: 120px !important;
    width: calc(100% - 260px) !important;
  }
}